<div class="content">
    <ul class="blog-posts">
        {% for post in site.posts limit:5 %}
        <li>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.description %}
                {{ post.description }}
                {% else %}
                {{ post.excerpt }}
                {% endif %}
            </p>
            <span>Alex McRae | </span><time>{{ post.date | date: "%B %d, %Y" }}</time>
        </li>
        {% endfor %}
    </ul>
</div>