<nav class="navbar">
    <h1 class="navbar-title">
        <img src="/assets/images/whale.svg"
             alt="logo" class="navbar-logo">
        <a href="/index.html">Alex McRae</a>
    </h1>
    <div class="toggle" id="navbar-toggle">
        <div class="toggle-line"></div>
        <div class="toggle-line"></div>
        <div class="toggle-line"></div>
    </div>
    <ul class="navbar-nav" id="navbar-nav">
        {% for item in site.data.navigation %}
        <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
    </div>

</nav>