.blog-page {
    margin: 10px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 10px 0 10px 0;
    }
}

.blog-posts {
    max-width: 50em; // makes sure the width of text is easily readable
    width: 90vw;
    text-align: left;
    list-style: none;
}

.blog-posts__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: text-bottom;

    margin: 10px 0px 10px 0px;

    a {
        text-decoration: none;
    }
}