// Colors and Shades
$color-primary: blue;
$color-secondary: red;
$color-lightgrey: lightgrey;
$color-white: white;

// Layout Breakpointe
$layout-breakpoint-small: 767px; // smartphones
$layout-breakpoint-medium: 320px;
$layout-breakpoint-large: 320px;
