@import "globals";

.landing-page {
    position: relative;

    z-index: 5;
    background-color: blue;

    height: 90vh;
    text-align: center;

    // structure
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $layout-breakpoint-small) {
        padding-top: 20px;
        justify-content: flex-start;
    }
}

.landing-page__image {
    border-radius: 100%;
    margin-bottom: 20px;
}

.landing-page__text {
    max-width: 90%;
    width: 50em;
}