@import "colors";

.navigation {
    height: 5vh;
    background-color: grey;
    padding: 20px;
}

.navigation__list {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.navigation__item {
    a {
        text-decoration: none;
        color: white; // TODO: update color
    }
}

.navigation__item_current {
    a {
        color: $color-secondary;
    }
}