.landing-img {
    width: 100%;
    height: auto;
    max-height: 94vh;
}

.text-over-image {
    position: relative;
    text-align: center;
    color: white;

    div {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: rgba(0, 0, 0, 0.5);
        
        padding: 10px;
        border-radius: 10px;
        
        text-shadow: 0 2px 1px rgba(255,0,0,0.67);
    }
}