/**
   * Posts
   */


.post {
    max-width: calc(800px - (30px * 2));
    padding: 0 10px;
    margin: 0 auto;
    background-color: lightcyan;
}

pre {
    overflow-x: auto;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}

.post-content {

    & > p > img {
        max-width: 100%;
    }
}

.post-header {
    margin-bottom: 30px;
}

.post-title,
.post-content h1 {
    font-size: 2.625em;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: 30px;

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.375em;
    }

    h4 {
        font-size: 1.125em;
    }
}